body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(216, 215, 223);
    color: rgb(0, 0, 0);
}

a{
    text-decoration: none;
    color: red;
}
  
.dark-mode {
background-color: rgb(39, 38, 51);
color: white;
}

.dark-mode .button {
    background-color: #4f4a61;
    color: white;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #d3cfdf;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(196, 185, 209); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    display: inline;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
  }

#content {
    text-align: center;
}